@font-face {
    font-family: 'iransansregular';
    src: url('../../font/IRANSans.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iranHilda';
    src: url('../../font/Hilda.ttf');
    font-weight: normal;
    font-style: normal;
}