// font variables
$font-1: iransansregular;
$font-2: iranHilda;
// main colors
$color-1: #1B1A17;
$color-2: #F0A500;
$color-3: #E45826;
$color-4: #E6D5B8;
// text color
$color-text: #dfdfdf;
// welcome page
$color-cube: #f0a400a6;
// login and signup page
$color-place: #e5e5e5